body{
    background-color: #323031;
    color:#dddddd;
    font-family: 'Fredoka', sans-serif;
}

a{
    color: #ccb6a7;
}

nav a{
    text-decoration: none;
}

header{
    clear: both;
    text-align: center;
}
#container{
    width: 100%;
    clear: both;
}
footer{
    clear: both;
    text-align: center;
}

#homepage{
    margin: auto;
    width: fit-content;
}

#homepage h4{
    text-align: center;
    clear: both;
}

#homepage h1{
    text-align: center;
    clear: both;
}

nav{
    margin: auto;
    padding: 1vw 0 1vw 0;
    background-color: #424041;
    border-radius: 20px;
}

nav ul{
    text-align: center;
}
nav li{
    display: inline;
    list-style: none;
    padding: 0 2vw;
    font-size:calc(1vw + 8px);
}

#login_form{
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 1vw auto;
  clear: both;
  background-color: #424041;
  padding: 20px;
}

#login_form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
}

#login_form input[type=submit]:hover {
    background-color: #45a049;
    font-family: 'Fredoka', sans-serif;
}

#login_form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

#login_form input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

#photos{
    clear: both;
}

.photos input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1vw;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-size: calc(2vw + 6);
    text-align: center;
}

#options{
    clear: both;
}

#notloggedin{
    clear: both;
}

#photos img{
    width: 20vw;   
    border-radius: 10px; 
    padding: 0;
    margin: 0;
    clear: both;
}


.single ul{
    margin: auto;
}
#like{
    display: inline-block;
}

#like h1, h2, h3{
    font-size: calc(1.2vw + 6px);
}

/* #like h2{
    font-size: calc(2vw + 6);
}

#like h3{
    font-size: calc(2vw + 6);
} */

#like input[type=submit]{
    width: fit-content;
    background-color: #4CAF50;
    color: white;
    padding: 1vw;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-size: calc(2vw + 6);
    text-align: center;
}

#comments{
    clear: both;
}

#comment input[type=submit]{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 2vw;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-size: calc(2vw + 6);
    text-align: center;
}

#comment input[type=text]{
    width: 79%;
    padding: 2vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

#photos li{
    color: #dddddd;
    background-color: #424041;
    text-align: center;
    float: left;
    display: inline;
    margin: 4vw 1vw;
    width: 20vw;
    padding:0;
    border-radius: 10px;
}