<!DOCTYPE html>

<html>

<head>
    <title>Create an album | Photoshare</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='imagegallary.css') }}">
</head>

<body>


    <header>
        <h1>Photoshare</h1>
        <p>Share your life!</p>
        <hr>
    </header>

    <div id="container">
        <nav>
            {% if name %}
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/profile'>profile</a> </li>
                <li><a href="/search">Search for a photo</a></li>
                <li><a href='/upload'>Upload a photo</a> </li>
                <li><a href='/logout'>Logout</a></li>
            </ul>

            {% else %}
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href="/search">Search for a photo</a></li>
                <li><a href='/upload'>Upload a photo</a> </li>
                <li><a href='/login'>Login</a></li>
            </ul>
            {% endif %}
        </nav>

        <div class="title">
            <h1>Create an album in Photoshare</h1>
        </div>
        <form method="post" enctype="multipart/form-data" action="/album">
            <label for="album_name">Album name:</label>
            <input type="text" name="album_name" required='true' /><br />
            <input type="submit" value="Upload" />
        </form>
    </div>

    <footer>
        <hr>
        <p>Copyright &#174; 2022 by Khalid Almaimouni</p>
    </footer>
</body>


</html>