<!-- author ben lawson balawson@bu.edu -->

<head>
    <title>Create an account!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='imagegallary.css') }}">\
</head>
{%if not supress%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}

<body>
    <div class="title">
        <h1>Enter your information below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('register_user') }}">
            <label for="username">Enter your user name:</label>
            <input type="text" name="username" /><br />

            <label for="email">Enter your email:</label>
            <input type="email" name="email" /><br />

            <label for="password">Enter password:</label>
            <input type="password" name="password" /><br />

            <label for="firstname">Enter your first name:</label>
            <input type="text" name="firstname" /><br />

            <label for="lastname">Enter your last name:</label>
            <input type="text" name="lastname" /><br />

            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday"> <br>

            <label for="gender">Enter your gender:</label>
            <input type="text" name="gender" /><br />

            <label for="hometown">Enter your hometown:</label>
            <input type="text" name="hometown" /><br />

            <input type="submit" />
        </form>
    </div>
</body>
<a href='/'>Home</a>